@media only screen and (max-width: 960px) {
  .movieGridContainer {
      width: 100vw;
  }
}

@media only screen and (min-width: 960px) {
  .movieGridContainer {
    width: 65vw;
  }
}

.movieGrid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1em;
    -ms-overflow-style: none;
    background-color: rgba(0, 0, 0, 0.344);
    align-content: center;
}

.movieGridContainer > p {
    width: fit-content;
    color: #c1c0c0;
    font-size: 2em;
    margin: 0;
    padding-left: 1em;
}

.movieGrid::-webkit-scrollbar {
    display: none;
}

.movieGrid .movieElement {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    width: 6em;
    height: fit-content;
    animation-delay: 0;
}