@media only screen and (max-width: 960px) {
  .movieGridContainer {
      width: 100vw;
  }
}

@media only screen and (min-width: 960px) {
  .movieGridContainer {
    width: 65vw;
  }
}

.movieGrid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1em;
    -ms-overflow-style: none;
    background-color: rgba(0, 0, 0, 0.344);
    align-content: center;
}

.movieGridContainer > p {
    min-width: 10em;
    color: rgb(var(--text-ligth));
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding-left: 1em;
    position: relative;
}

.movieGrid::-webkit-scrollbar {
    display: none;
}

.movieGrid .movieElement {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    width: 6em;
    animation-delay: 0;
}

.titleBackground {
    position: absolute;
    width: 8em;
    height: 100%;
    object-fit: cover;
    left: 0;
    z-index: -1;
    overflow: visible;
    object-position: left;
}