.background {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    align-self: center;
    object-fit: cover;
    background: rgba(var(--secondary-color-dark),1);
}