.searchBarContainer {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100vw;
    height: var(--header-height);
    top: 0;
    padding: 1em;
    background-color: var(--primary-color-dark);
    z-index: 1;
  }

.languajeSelector {
    width: 10em;
}