.searchBarContainer {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: var(--header-height);
    top: 0;
    padding: 1em;
    background-color: #61dafb;
    transition: top 0.3s;
  }

.languajeSelector {
    width: 10em;
}