

.movieElement img { 
    border-radius: 1em;
}


.movieElement span {
    position: absolute;
    background-color: #1ec6ff;
    color: black;
    padding: 0 0.2em;
    border-radius: 1em;
}

.movieElement p {
    overflow: hidden;
    color: rgba(var(--primary-color-ligth,1));
    height: 3em;
    margin: 0;
    text-align: center;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .movieElement {
        width: 50vw;
        padding: 0.2em;
        position: relative;        
    }
    .movieElement img {
        width: 100%;
        height: 10em;
        align-self: center;
        object-fit: cover;
    }



    .movieElement span {
        font-size: 80%;
        bottom: 26%;
        right: 6%;
    }

    .hiddenMovie {
        display: none;
    }
    
  }
  
@media only screen and (min-width: 600px) {
    .movieElement {
        min-width: 10em;
        padding: 1em;
        position: relative;
    }
    .movieElement img {
        width: 100%;
        height: 15em;
        align-self: center;
        object-fit: cover;
    }

    .movieElement span {
        font-size: 80%;
        bottom: 25%;
        right: 12%;
    }

    .hiddenMovie {
        display: none;
    }
}