@media only screen and (max-width: 600px) {
  .movie-selector {
    width: 100%;
    border: 1px solid grey;
  }
  .movie-selector img {
    height: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .movie-selector {
    width: 80%;
    border: 1px solid grey;
  }

  .movie-selector img {
    height: 20em;
    min-width: 15em;
  }
}

.movie-selector {
  margin-top: calc(var(--header-height) * 2);
  border: none;
  color: white;
}

.movie-selector .header {
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  height: 20em;
  background-color: rgba(0, 0, 0, 0);
}
.movie-selector img {
  align-self: center;
  object-fit: cover;
}

.header-details {
    overflow-y: auto;
}

.movie-selector .options {
  display: flex;
  flex-flow: row;
  bottom: 10%;
  justify-content: space-evenly;
}

.movie-selector .options button {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  background: rgba(var(--secondary-color-dark), 1);
  border: solid black 1px;
}

.movie-selector .options span {
  display: flex;
}

.movie-selector .options .active {
  background: rgba(var(--secondary-color-ligth), 1);
}

.movie-selector .options button:hover:not(.active) {
  background: rgba(var(--secondary-color-dark), 1);
  filter: invert(5%);
}

.movie-selector .options .ready {
  color: lightgreen;
}

.movie-selector .options .loading {
  color: orange;
}

.movie-selector .options .pending {
  color: yellow;
}

.movie-selector .options img {
  align-self: center;
  object-fit: scale-down;
  height: 10px;
  min-width: 10px;
  margin-right: 5px;
}