.movieDetail .background {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    align-self: center;
    object-fit: cover;
    background: rgba(var(--secondary-color-dark),1);
}

.movieDetail {
  background: rgba(var(--secondary-color-dark),0.8);
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}