@media only screen and (max-width: 960px) {
    .logo {
    }
  }
  
  @media only screen and (min-width: 960px) {
    .logo{
        left: 5%;
    }
  }

.logo_detail {
    color: aliceblue;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.logo {
    display: flex;
    flex: 1 1 0;
    cursor: pointer;
    padding-left: 1em;
    max-width: fit-content;
    position: absolute;
}
.logo img {
    display: flex;
    flex: 1 1 0;
    cursor: pointer;
    align-self: center;
    height: 100%;
    max-width: 4em;
}

.logo_detail h1 {
    margin: 0;
}

.logo_detail span {
    font-size: 0.8em;
    height: 100%;
    align-self: center;
}