@media only screen and (max-width: 640px) {
    .logo_detail {
        display: none
    }
  }

  @media only screen and (min-width: 640px) {
    .logo_detail {
        display: flex;
    }
  }
  
  
  @media only screen and (min-width: 960px) {
    .logo{
        left: 5%;
    }
  }

.logo_detail {
    color: aliceblue;
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    width: 6em;
    height: 100%;
}

.logo {
    display: flex;
    cursor: pointer;
    padding-left: 1em;
    max-width: fit-content;
}
.logoImage {
    display: flex;
    cursor: pointer;
    align-self: center;
    height: 100%;
    width: 4em;
}

.logoName {
    display: flex;
    cursor: pointer;
    align-self: center;
    height: 100%;
    width: 8em;
}


.logo_detail h1 {
    margin: 0;
}

.logo_detail span {
    font-size: 0.8em;
    height: 100%;
    align-self: center;
}