.selectionButton {
   position: relative;
   height: 2.5em;
   padding-top: 0.4em;
   margin: 0 .5em;
}

.selectionButton button {
    height: 2em;
    background-color: rgba(var(--secondary-color-ligth), 1);
    border: none;
    border-radius: 1em;
    display: inline-flex;
    align-content: center;
    align-items: center;
}


.selectionButton button:focus {
    outline: none;
}

.selectionButton .optionsContainer{
    display: none;
    position: absolute;
    padding: 0.5em;
    min-width: 10em;
    max-height: 20em;
    background-color: rgba(var(--secondary-color-ligth), 1);
    z-index: 10;
    top: 100%;
    border-radius: 0.2em;
    overflow-y: auto;
}

.selectionButton .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.selectionButton span {
    margin: 0.5em;
    white-space: nowrap;
    color: rgb(var(--text-ligth));
    cursor: pointer;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectionButton .optionsContainer span {
    padding: .5em;
    background: rgba(var(--primary-color-ligth), .5);
    border-radius: 1em;    
}

.selectionButton .arrowUp {
    display: none;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent rgba(var(--secondary-color-ligth), 1) transparent;
    z-index: 20;
}

.arrowDown {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5em 0.5em 0 0.5em;
    border-color: rgba(0, 0, 0, 0.405) transparent transparent transparent;
}

.arrowUp2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent rgba(0, 0, 0, 0.405) transparent;
}

.selectionButton .optionsContainer.open {
    display: flex;
}

.selectionButton .optionsContainer span:hover {
    filter: invert(25%);
}
.selectionButton .arrowUp.open {
    display: flex;
}
