@media only screen and (max-width: 600px) {
    .movieGrid {
        width: 95vw;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .movieGrid {
      width: 65vw;
    }
  }

.movieGrid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movieGrid .movieElement {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    width: 6em;
    height: fit-content;
}

.movieElement img {
    height: 8em;
    min-height: 5em;
    min-width: 4em;
    align-self: center;
    object-fit: cover;
}

.movieElement p {
    overflow: hidden;
    height: 4em;
    margin: 0;
}

.movieElement span {
    color: gray;
    font-size: 80%;
}

.hiddenMovie {
    display: none;
}