@media only screen and (max-width: 960px) {
  .searchBar {
    flex: 1 1 auto;
  }
}

@media only screen and (min-width: 960px) {
  .logo_detail {
      flex-direction: column;
  }
  .searchBar {
    flex: 1 1 auto;
    margin-right: 1em;
  }

}

.searchBar {
  width: 80%;
}

.searchBarContainer {
  display: inline-flex;
  position: relative;
}

.search-item + div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.search-item div img:first-child {
  border-radius: 20%;
  height: 50px;
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: 1em;
}

.search-item {
  display: flex;
  flex-flow: row;
  justify-content: first baseline;
  justify-self: left;
  height: 3em;
  padding: 0.1em 0;
  cursor: pointer;
}

.search-item  * {
  color: rgb(var(--text-ligth));
}

.rating-star {
  height: 10px !important;
  width: 10px !important;
}

.search-item-container {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.search-item-title {
  height: 80%;
  width: 100%;
  margin: 0;
  text-align: start;
}

.search-item-description {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 0.8em;
  height: 0.5em;
}

.search-item-description span:last-child {
  margin: 0 1em;
}