@media only screen and (max-width: 960px) {
    .sourceSelector {
        width: 99vw;
    }
  }
  
  @media only screen and (min-width: 960px) {
    .sourceSelector {
        width: 80vw;
    }
  }

.sourceSelector {
    color: rgb(var(--text-ligth));
}

.sourceSelectorContainer {
    background-color: rgba(var(--secondary-color-dark), 0.8);
    overflow-y: auto;
    height: 10em;
}

.sourceSelectorContainer .source p {
    background-color: rgba(var(--secondary-color-ligth), 0.2);
    margin: 1px 0;
    cursor: pointer;
}

.sourceSelectorTitle {
    background-color: rgba(var(--secondary-color-ligth), 0.4);
    text-align: left;
    margin: 0;
    padding-left: 1em;
}