.headerContainer {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100vw;
    height: var(--header-height);
    top: 0;
    padding: 1em;
    align-content: center;
    /* background-color: var(--secondary-color-dark); */
    background: linear-gradient(180deg, rgba(var(--secondary-color-dark), 1) 20%, rgba(var(--secondary-color-dark), 0.95) 100%);
    z-index: 1;
  }

.searchButton {
  position: absolute;
  height: 40%;
  right: 3em;
  align-self: center;
}

.buttonContainer {
  display: flex;
  width: 300px;
  justify-content: center;
}