.searchBarContainer {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100vw;
    height: var(--header-height);
    top: 0;
    padding: 1em;
    /* background-color: var(--secondary-color-dark); */
    background: linear-gradient(180deg, rgba(var(--secondary-color-dark), 1) 20%, rgba(var(--secondary-color-dark), 0.95) 100%);
    z-index: 1;
  }

.languajeSelector {
    width: 10em;
}