.playerView {
  height: 100%;
}

.playerContainer {
  --player-padding: 10%;
  height: 50vh;
}

@media only screen and (max-width: 960px) {
    .playerContainer {
      width: 100vw;
      margin: 1em  0;
    }
  }
  
  @media only screen and (min-width: 960px) {
    .playerContainer {
      width: 50vw;
      margin: 1em  var(--player-padding);
    }
  }