

.playerContainer {
  --player-padding: 10%;
  margin:0;  
}

.smallCaptionSize .plyr__caption {
  font-size: 110%;
}

.mediumCaptionSize .plyr__caption {
  font-size: 140%;
}

.largeCaptionSize .plyr__caption {
  font-size: 170%;
}

.internalContainer {
  height: 100%;
  widows: 100%;
}

@media only screen and (max-width: 960px) {
    .playerContainer {
      width: 100vw;
      height: 60vw;
    }
  }
  
  @media only screen and (min-width: 960px) {
    .playerContainer {
      width: 50vw;
      height: 30vw;      
    }
  }

.plyr__menu__container {
  max-height: 20em;
  overflow-y: auto;
}

.playerContainer .hide{
  display: none;
}
