body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {

  --header-height : 2em;
  --movie-grid-height: 89vh;

  --primary-color-ligth : #EEEEEE;
  --primary-color-dark: #1d1e2c;
  --secondary-color-ligth: rgba(77, 111, 167, 1);
  --secondary-color-dark: rgba(29, 39, 56, 1);
}


* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.commonPage {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;

  min-height: 100vh;

  background: rgb(29,30,44);
  background: linear-gradient(90deg, rgba(29, 39, 56,1) 0%, rgba(29, 39, 56,0.9) 60%, rgba(29, 39, 56,0.7) 100%);
}