body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {

  --header-height : 2em;
  --movie-grid-height: 89vh;

  --primary-color-ligth : #EEEEEE;
  --primary-color-dark: #1d1e2c;
  --secondary-color-ligth: rgb(77, 111, 167);
  --secondary-color-dark: rgb(29, 39, 56);
}


* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}